/* Settings */
:root {
  /* アニメーション設定 */
  interpolate-size: allow-keywords;
}

.lp-ats {

  /* Display */
  --d-md-block: none;
  --d-lg-block: none;

  /* Primitives ============================== */
  --corporate: 229 100 22;
  --yellow: 55 100 50;
  --orange: 22 99 49;
  --orange-dark: 12 100 44;

  --blue: 201 100 43;
  --blue-dark: 212 100 42;

  --Indigo-50: 216 100 98;
  --Indigo-100: 215 94 93;
  --Indigo-200: 217 93 88;
  --Indigo-300: 218 93 83;
  --Indigo-400: 219 93 78;
  --Indigo-500: 222 84 67;
  --Indigo-600: 224 80 58;
  --Indigo-700: 226 79 49;
  --Indigo-800: 226 100 42;
  --Indigo-900: 233 100 36;
  --Indigo-1000: 240 100 31;
  --Indigo-1100: 246 98 25;
  --Indigo-1200: 251 90 20;
  --Navy-50: 220 100 99;
  --Navy-100: 217 50 93;
  --Navy-200: 216 45 87;
  --Navy-300: 218 41 81;
  --Navy-400: 218 37 74;
  --Navy-500: 219 35 63;
  --Navy-600: 221 37 54;
  --Navy-700: 223 42 45;
  --Navy-800: 225 52 37;
  --Navy-900: 226 62 29;
  --Navy-1000: 227 69 21;
  --Navy-1100: 228 73 15;
  --Navy-1200: 229 76 10;
  --Blue-50: 204 100 97;
  --Blue-100: 206 100 93;
  --Blue-200: 206 100 88;
  --Blue-300: 205 100 80;
  --Blue-400: 205 100 67;
  --Blue-500: 205 100 61;
  --Blue-600: 206 100 47;
  --Blue-700: 208 93 44;
  --Blue-800: 208 100 37;
  --Blue-900: 211 100 34;
  --Blue-1000: 212 100 27;
  --Blue-1100: 212 100 21;
  --Blue-1200: 212 100 15;
  --Cyan-50: 187 100 95;
  --Cyan-100: 188 100 89;
  --Cyan-200: 188 100 80;
  --Cyan-300: 188 82 71;
  --Cyan-400: 189 77 53;
  --Cyan-500: 189 99 42;
  --Cyan-600: 189 100 37;
  --Cyan-700: 189 100 33;
  --Cyan-800: 189 100 30;
  --Cyan-900: 189 100 26;
  --Cyan-1000: 189 100 23;
  --Cyan-1100: 189 100 17;
  --Cyan-1200: 189 100 13;
  --Green-50: 90 100 100;
  --Green-100: 98 89 96;
  --Green-200: 103 94 94;
  --Green-300: 106 85 89;
  --Green-400: 110 84 86;
  --Green-500: 117 72 76;
  --Green-600: 123 62 67;
  --Green-700: 128 53 57;
  --Green-800: 133 49 48;
  --Green-900: 136 56 39;
  --Green-1000: 130 61 30;
  --Green-1100: 123 65 22;
  --Green-1200: 117 66 16;
  --Lime-50: 67 100 96;
  --Lime-100: 69 100 86;
  --Lime-200: 70 100 76;
  --Lime-300: 73 100 68;
  --Lime-400: 74 100 59;
  --Lime-500: 77 92 56;
  --Lime-600: 79 79 55;
  --Lime-700: 80 71 48;
  --Lime-800: 80 76 41;
  --Lime-900: 81 81 33;
  --Lime-1000: 80 87 25;
  --Lime-1100: 80 93 18;
  --Lime-1200: 80 100 12;
  --Yellow-50: 53 100 98;
  --Yellow-100: 54 100 92;
  --Yellow-200: 56 100 85;
  --Yellow-300: 56 100 79;
  --Yellow-400: 57 100 72;
  --Yellow-500: 59 95 60;
  --Yellow-600: 61 100 47;
  --Yellow-700: 63 100 43;
  --Yellow-800: 65 100 38;
  --Yellow-900: 66 100 32;
  --Yellow-1000: 67 100 26;
  --Yellow-1100: 67 100 19;
  --Yellow-1200: 68 100 13;
  --Beige-50: 30 100 100;
  --Beige-100: 30 67 99;
  --Beige-200: 30 40 98;
  --Beige-300: 30 38 97;
  --Beige-400: 40 27 96;
  --Beige-500: 36 26 93;
  --Beige-600: 44 24 88;
  --Beige-700: 43 22 81;
  --Beige-800: 45 23 73;
  --Beige-900: 46 22 63;
  --Beige-1000: 47 22 51;
  --Beige-1100: 48 31 40;
  --Beige-1200: 48 45 30;
  --Canary-50: 26 100 99;
  --Canary-100: 30 100 93;
  --Canary-200: 32 100 87;
  --Canary-300: 34 100 82;
  --Canary-400: 36 100 76;
  --Canary-500: 40 97 65;
  --Canary-600: 43 93 56;
  --Canary-700: 45 96 47;
  --Canary-800: 48 97 44;
  --Canary-900: 49 98 39;
  --Canary-1000: 51 99 32;
  --Canary-1100: 51 100 24;
  --Canary-1200: 52 100 15;
  --Orange-50: 25 100 94;
  --Orange-100: 24 100 90;
  --Orange-200: 24 100 80;
  --Orange-300: 23 100 71;
  --Orange-400: 23 100 63;
  --Orange-500: 22 100 58;
  --Orange-600: 22 99 49;
  --Orange-700: 22 100 44;
  --Orange-800: 21 100 39;
  --Orange-900: 22 100 34;
  --Orange-1000: 22 100 27;
  --Orange-1100: 21 100 21;
  --Orange-1200: 21 100 16;
  --Red-50: 0 100 99;
  --Red-100: 0 100 95;
  --Red-200: 0 100 90;
  --Red-300: 0 100 85;
  --Red-400: 0 100 80;
  --Red-500: 0 93 68;
  --Red-600: 0 87 55;
  --Red-700: 2 79 49;
  --Red-800: 5 83 42;
  --Red-900: 7 87 36;
  --Red-1000: 9 92 28;
  --Red-1100: 11 96 21;
  --Red-1200: 12 100 15;
  --Magenta-50: 300 100 99;
  --Magenta-100: 302 100 93;
  --Magenta-200: 301 100 86;
  --Magenta-300: 301 100 80;
  --Magenta-400: 300 99 74;
  --Magenta-500: 301 92 63;
  --Magenta-600: 300 84 52;
  --Magenta-700: 300 100 43;
  --Magenta-800: 304 99 38;
  --Magenta-900: 308 95 32;
  --Magenta-1000: 312 89 25;
  --Magenta-1100: 315 82 18;
  --Magenta-1200: 318 74 10;
  --Purple-50: 266 62 95;
  --Purple-100: 266 100 93;
  --Purple-200: 267 100 88;
  --Purple-300: 266 100 83;
  --Purple-400: 266 100 76;
  --Purple-500: 266 91 68;
  --Purple-600: 266 72 57;
  --Purple-700: 266 71 48;
  --Purple-800: 266 84 40;
  --Purple-900: 266 90 36;
  --Purple-1000: 267 95 29;
  --Purple-1100: 266 98 21;
  --Purple-1200: 266 100 15;
  --Mono-0: 0 0 100;
  --Mono-50: 0 0 98;
  --Mono-100: 0 0 95;
  --Mono-200: 0 0 92;
  --Mono-300: 0 0 90;
  --Mono-400: 0 0 87;
  --Mono-500: 0 0 80;
  --Mono-600: 0 0 77;
  --Mono-700: 0 0 66;
  --Mono-800: 0 0 56;
  --Mono-900: 0 0 46;
  --Mono-1000: 0 0 35;
  --Mono-1100: 0 0 20;
  --Mono-1200: 0 0 10;
  --Mono-1300: 0 0 0;


  /* Semantics ============================== */
  /* Text */
  --text-main: var(--Mono-1200);
  --text-sub: var(--Mono-900);
  --text-link: var(--corporate);
  --text-primary: var(--corporate);
  --text-accent-orange: var(--orange);
  --text-white: var(--Mono-0);

  --text-tag-economy: var(--Green-1000);
  --text-tag-popular: var(--Orange-700);

  /* Background */
  --bg-primary: var(--corporate);
  --bg-accent-yellow: var(--yellow);
  --bg-accent-orange: var(--orange);
  --bg-accent-orange-dark: var(--orange-dark);
  --bg-white: var(--Mono-0);
  --bg-black: var(--Mono-1300);
  --bg-xlight-indigo: var(--Indigo-100);

  /* Border Color */
  --bdr-primary: var(--corporate);
  --bdr-light: var(--Mono-300);
  --bdr-normal: var(--Mono-600);
  --bdr-black: var(--Mono-1300);
  --bdr-light-blue: var(--Navy-400);

  --bdr-tag-economy: var(--Green-1000);
  --bdr-tag-popular: var(--Orange-700);

  /* Line Height */
  /* 
  --lh-lg: 1.8;
  --lh-full: 2;
  --lh-sm: 1.2;
  */

  /* Font Size */
  --fz-normal: 1rem;
  --fz-sm: .875rem;
  --fz-xs: .75rem;
  --fz-md: 1.2rem;
  --fz-lg: 1.5rem;
}

/* 
@media (min-width: theme(--breakpoint-md)) {
  :root {
    --d-md-block: block;
  }
}

@media (min-width: theme(--breakpoint-lg)) {
  :root {
    --d-lg-block: block;
  }
} */