<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('./src/ejs/_head.ejs') %>
</head>

<body class="bg-slate-50 font-sans text-slate-800 antialiased min-h-screen">

  <div class="ats-root">

    <%- include('./src/ejs/_header.ejs') %>

    <%- include('./src/ejs/_sect-mv.ejs') %>

    <%- include('./src/ejs/_sect-nav-sales.ejs') %>

    <%- include('./src/ejs/_sect-overview.ejs') %>

    <%- include('./src/ejs/_sect-points.ejs') %>

    <%- include('./src/ejs/_sect-plans.ejs') %>

    <%- include('./src/ejs/_sect-faq.ejs') %>

    <%- include('./src/ejs/_sect-notes.ejs') %>

    <%- include('./src/ejs/_sect-vacant-inq.ejs') %>

    <%- include('./src/ejs/_sect-detail.ejs') %>
    
    <%- include('./src/ejs/_sect-related.ejs') %>

    <%- include('./src/ejs/_footer.ejs') %>
    
  </div>

  <!-- Main JavaScript Entry -->
  <script type="module" src="/src/js/main.js"></script>
</body>

</html>