/* 独自の値をTailwindのユーティリティクラスとして使えるようにする */
/* TODO: フォールバックを追加 */
@theme {
  --font-en: "Oswald", "Noto Sans JP", sans-serif;
  --font-ja: "Noto Sans JP", 'Hiragino', sans-serif;
  --font-ja-alt: "Zen Kaku Gothic New", 'Hiragino', sans-serif;
}