.ats-c-btn {
  border-radius: var(--radius-100);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.5rem;
  font-size: var(--fz-normal);
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
  border: none;
  color: hsl(var(--text-white));
  text-align: center;
  gap: .5rem;
  box-shadow: 0 .25rem .25rem hsla(var(--bg-black) / .12);
}

/* Style(color) ========== */
.ats-c-btn--primary {
  background: hsl(var(--bg-accent));
}

/* アウトライン型 */
.ats-c-btn--primary-ol {
  background-color: hsl(var(--bg-white));
  border: 1px solid hsl(var(--bg-accent));
  color: hsl(var(--bg-accent));
}

.ats-c-btn--accent-orange {
  background: linear-gradient(to right bottom, hsl(var(--bg-accent-orange)), hsl(var(--bg-accent-orange-dark)));
}

/* Size */
.ats-c-btn--lg {
  padding: 1rem 1.5rem;
}

.ats-c-btn--w-full {
  width: 100%;
}

/* Child */
.ats-c-btn__content-fill {
  flex: 1;
}

/* Icon: refer to _icons.css for icon design */
.ats-c-btn--i-r-arrow-down {
  gap: .5rem;
}

.ats-c-btn--i-r-arrow-down::after {
  content: '👇️';
}