.ats-c-btn {
  @apply rounded-full border-none text-center decoration-0 justify-center items-center inline-flex leading-none whitespace-nowrap gap-2 cursor-pointer py-2;
  /* text-decoration: none; */
  transition: all .3s ease;
  color: hsl(var(--text-white));
  box-shadow: 0 .25rem .25rem hsla(var(--bg-black) / .12);
  font-size: .875rem;
}

/* Style(color) ========== */
/* プライマリーボタン */
.ats-c-btn--primary {
  background: hsl(var(--bg-primary));
}

/* アウトライン型 */
.ats-c-btn--primary-ol {
  background-color: hsl(var(--bg-white));
  border: 1px solid hsl(var(--bg-primary));
  color: hsl(var(--bg-primary));
}

.ats-c-btn--accent-orange {
  @apply font-bold;
  background: linear-gradient(to right bottom, hsl(var(--bg-accent-orange)), hsl(var(--bg-accent-orange-dark)));
}

/* Size */
.ats-c-btn--lg {
  @apply py-3 px-6;
}

.ats-c-btn--xl {
  @apply py-4 px-6;
  font-size: 1.125rem;
}

.ats-c-btn--w-full {
  @apply w-full;
}

.ats-c-btn--w-auto {
  @apply w-auto;
}

/* Text */
.ats-c-btn--font-700 {
  @apply font-bold;
}


/* Child */
.ats-c-btn__content-fill {
  @apply grow;
}

/* Icon: 
refer to _icons.css for icon design */
[class*="ats-c-btn--i-"] {
  @apply gap-2;
}

[class*="ats-c-btn--i-"]::before,
[class*="ats-c-btn--i-"]::after {
  @apply flex items-center justify-center;
  /* content: ''; */
  @apply w-5 h-5;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: currentColor;
}

.ats-c-btn--i-r-arrow-down::after {
  @apply w-6 h-6;
  content: '';

  mask-image: var(--ats-icon-arrow-down);
}

.ats-c-btn--i-calendar::before {
  content: '';
  mask-image: var(--ats-icon-calendar);
}

.ats-c-btn--i-alert::before {
  content: '';
  mask-image: var(--ats-icon-alert);
}

@media (min-width: theme(--breakpoint-md)) {
  .ats-c-btn--w-md-full {
    @apply w-full;
  }

  .ats-c-btn--w-md-auto {
    @apply w-auto;
  }

}

@media (min-width: theme(--breakpoint-lg)) {
  .ats-c-btn--w-lg-full {
    @apply w-full;
  }

  .ats-c-btn--w-lg-auto {
    @apply w-auto;
  }
}