/* Text */
.ats-c-d-none {
  display: none;
}

/* md */
@media (min-width: theme(--breakpoint-md)) {
  .ats-c-d-md-none {
    display: none;
  }
}

/* lg */
@media (min-width: theme(--breakpoint-lg)) {
  .ats-c-d-lg-none {
    display: none;
  }
}