.ats-faq {
  background: hsl(203 91 87);
  @apply py-12;
}

.ats-faq__list {
  @apply grid gap-2;
}

.ats-faq__item {
  @apply p-4 rounded-lg;
  background: hsl(var(--bg-white));
}


.ats-faq__q,
.ats-faq__a,
.ats-faq__q::after {
  transition: all .3s;
}

.ats-faq__q,
.ats-faq__a {
  @apply flex gap-2;
  transition: all .3s;
}


.ats-faq__q {
  @apply font-bold relative;
  font-size: 1rem;
}

.ats-faq__q::after {
  @apply absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: hsl(var(--bdr-light));
  scale: 0 1;
  transform-origin: left bottom;
}

.ats-faq__a {
  @apply overflow-hidden h-0;

}

.ats-faq__q::before,
.ats-faq__a::before {
  --base-size: 36px;
  --base-gap: 10px;
  --size: 30px;
  /* 👇️背景ポジション: 現サイズ + 現余白( = 比率 * 余白) */
  --bg-position: calc(var(--size) + var(--size) / var(--base-size) * var(--base-gap));

  @apply aspect-square rounded-full block overflow-hidden;
  content: '';
  flex-shrink: 0;
  background: url(../../img/faq-icon-qa.svg) no-repeat left top / auto 100%;
  width: var(--size);
  height: var(--size);
}


.ats-faq__a::before {
  background-position-x: calc(var(--bg-position) * -1);
}

.ats-faq__q-text,
.ats-faq__a-text {
  @apply flex-grow;
}

.ats-faq__toggle {
  @apply shrink-0 cursor-pointer border-none bg-transparent p-0 aspect-square self-center;
  --size: 20px;
  width: var(--size);
  height: var(--size);
  background: hsl(var(--bg-primary));
  mask: var(--ats-icon-plus) no-repeat center center / contain;
}

/* js */
.ats-faq__item.is-open .ats-faq__q {
  @apply mb-3 pb-3;
}

.ats-faq__item.is-open .ats-faq__q::after {
  scale: 1 1;
}

.ats-faq__item.is-open .ats-faq__a {
  height: auto;
}




/* md */
@media (min-width: theme(--breakpoint-md)) {
  .ats-faq {
    @apply py-16;
  }

  .ats-faq__q {
    font-size: 1.125rem;
  }

  .ats-faq__q::before,
  .ats-faq__a::before {
    --size: 36px;
  }

  /* js */
  .ats-faq__item.is-open .ats-faq__q {
    @apply mb-4 pb-4;
  }
}