.ats-faq {
  background: hsl(203 91 87);
  @apply py-12;
}

.ats-faq__list {
  display: grid;
  gap: .5rem;
}

.ats-faq__item {
  @apply p-4 rounded-lg;
  background: hsl(var(--bg-white));
}


.ats-faq__q,
.ats-faq__a {
  @apply flex gap-2;
}

.ats-faq__q {
  @apply font-bold mb-3 pb-3;
  font-size: 1rem;
  border-bottom: 1px solid hsl(var(--bdr-light));
}

.ats-faq__q::before,
.ats-faq__a::before {
  --base-size: 36px;
  --base-gap: 10px;
  --size: 30px;
  /* 👇️背景ポジション: 現サイズ + 現余白( = 比率 * 余白) */
  --bg-position: calc(var(--size) + var(--size) / var(--base-size) * var(--base-gap));

  @apply aspect-square rounded-full block overflow-hidden;
  content: '';
  flex-shrink: 0;
  background: url(../../img/faq-icon-qa.svg) no-repeat left top / auto 100%;
  width: var(--size);
  height: var(--size);
}


.ats-faq__a::before {
  background-position-x: calc(var(--bg-position) * -1);
}

.ats-faq__q-text,
.ats-faq__a-text {
  @apply flex-grow;
}

/* md */
@media (min-width: theme(--breakpoint-md)) {
  .ats-faq {
    @apply py-16;
  }

  .ats-faq__q {
    @apply text-lg mb-4 pb-4;
  }

  .ats-faq__q-text::before,
  .ats-faq__a-text::before {
    --size: 36px;
  }
}