.ats-mv {
  background: url(../../img/mv.webp) no-repeat 90% center / cover;
  padding-block: 3.5rem;
}

.ats-mv__container {
  max-width: 1000px;
  margin-inline: auto;
  display: grid;
  align-content: center;

  @apply px-4 grid-cols-12 gap-y-14 items-center;
  @apply md:gap-x-16 xl:px-0;
}

.ats-mv__container-col {
  @apply col-span-12 lg:col-span-6;
}


.ats-mv__sale-period {
  background: hsl(var(--bg-accent-yellow));
  border-radius: var(--radius-100);
  display: flex;
  padding: 6px 20px;
  align-items: center;
  line-height: 1;
}

.ats-mv__sale-period dt {
  font-weight: bold;
  display: flex;
}

.ats-mv__sale-period dd {
  display: flex;
  flex: 1;
  column-gap: 10px;
  text-align: center;
  font-family: var(--font-ja-alt);
  font-weight: bold;
  padding-left: 10px;
}

.ats-mv__sale-period dd::before {
  content: '';
  width: 1px;
  background: hsl(var(--bg-accent));
}

.ats-mv__sale-date {
  flex: 1;
}

.ats-mv__sale-date-num {
  font-size: 1.75rem;
}

/* カウントダウン */
.ats-mv__sale-countdown {
  background: hsla(var(--bg-accent)/.6);
  padding: .5rem 1rem 1rem 1rem;
}

.ats-mv__sale-countdown dt {
  text-align: center;
  color: hsl(var(--text-white));
  font-weight: bold;
}

.ats-mv__sale-countdown dd {
  gap: 1px;
}

.ats-mv__sale-countdown-box {
  background: hsl(var(--bg-white));
  padding-block: .875rem;
  display: grid;
  gap: .5rem;
  place-items: center;
  place-content: center;
  grid-template-columns: auto auto;
  color: hsl(var(--text-accent));
}

.ats-mv__sale-countdown dd>div:first-of-type .ats-mv__sale-countdown-box {
  border-radius: .5rem 0 0 .5rem;
}

.ats-mv__sale-countdown dd>div:last-of-type .ats-mv__sale-countdown-box {
  border-radius: 0 .5rem .5rem 0;
}

.ats-mv__sale-countdown-num {
  font-family: var(--font-en);
  font-size: 3rem;
  /*48px*/
}

.ats-mv__sale-countdown-label {
  writing-mode: vertical-rl;
}



/* 搭乗期間 */
.ats-mv__boarding-period {
  background: hsla(var(--bg-white)/.9);
  border-radius: 20px;
  padding: 1rem;
  color: hsl(var(--text-accent));
}

.ats-mv__boarding-period-title {
  padding-bottom: .625rem;
  border-bottom: 1px solid hsl(var(--bg-accent));
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .75rem;
  font-weight: bold;
  font-size: 1.125rem;
}

.ats-mv__boarding-period-title dd {
  font-size: 1.25rem;
  font-family: var(--font-ja-alt);
  line-height: 1;
}

.ats-mv__boarding-period-date {
  font-size: 2rem;
}

.ats-mv__boarding-plan {
  display: flex;
  justify-content: space-between;
  padding: .75rem 0.625rem;
  line-height: 1;
  flex-direction: column;
  gap: .5rem;
}

.ats-mv__boarding-section {
  display: flex;
  justify-content: center;
  gap: .5rem;
  border: 1px solid hsl(var(--bdr-normal));
  padding-block: .5rem;
}

.ats-mv__boarding-depart,
.ats-mv__boarding-arrive {
  display: flex;
  gap: .5rem;
  align-items: end;
}

.ats-mv__boarding-area {
  font-size: 0.8125rem;
}

.ats-mv__boarding-airport {
  font-weight: bold;
  font-size: 1.13125rem;
}

.ats-mv__boarding-price {
  text-align: center;
}

.ats-mv__boarding-price-num {
  font-family: var(--font-en);
  font-weight: bold;
  font-size: 2.5rem;
}

.ats-mv__boarding-price-label {
  font-weight: bold;
}

/* md */
@media (min-width: theme(--breakpoint-md)) {
  .ats-mv__sale-countdown-num {
    font-size: 3.5rem;
  }

  .ats-mv__boarding-period {
    padding: 1.875rem;
  }

  .ats-mv__boarding-period-title {
    flex-direction: row;
    gap: 0;
  }

  .ats-mv__boarding-period-title dt::after {
    content: '：';
  }

  .ats-mv__boarding-period-title dd {
    font-size: 1rem;
    font-family: var(--font-ja);
    flex: 1;
  }

  .ats-mv__boarding-period-date {
    font-size: 1rem;
  }

  .ats-mv__boarding-plan {
    flex-direction: row;
    align-items: end;
    gap: 0;
  }

  .ats-mv__boarding-section {
    align-items: end;
    border: none;
    padding: 0;
  }
}