.ats-mv {
  background: url(../../img/mv.webp) no-repeat 90% center / cover;
  padding-block: 3.5rem;
}

.ats-mv__container {
  max-width: 600px;

  @apply grid content-center px-4 grid-cols-12 gap-y-14 items-center mx-auto;

}

.ats-mv__container-col {
  @apply col-span-12;
}

.ats-mv__logo {
  @apply mb-4;
}

.ats-mv__sale-period {
  @apply flex items-center mb-4 rounded-full leading-none;
  background: hsl(var(--bg-accent-yellow));
  padding: 6px 20px;
}

.ats-mv__sale-period-title {
  @apply flex font-bold;
}

.ats-mv__sale-period-desc {
  @apply flex grow text-center font-bold;
  column-gap: 10px;
  font-family: var(--font-ja-alt);
  padding-left: 10px;
}

.ats-mv__sale-period-desc::before {
  content: '';
  width: 1px;
  background: hsl(var(--bg-primary));
}

.ats-mv__sale-date {
  @apply grow grow;
}

.ats-mv__sale-date-num {
  font-size: 1.75rem;
}

/* カウントダウン */
.ats-mv__sale-countdown {
  @apply rounded-xl;
  background: hsla(var(--bg-primary)/.6);
  padding: .5rem 1rem 1rem 1rem;
}

.ats-mv__sale-countdown-title {
  @apply text-center font-bold mb-2;
  color: hsl(var(--text-white));
}

.ats-mv__sale-countdown-desc {
  @apply grid grid-cols-12;
  gap: 1px;
}

.ats-mv__sale-countdown-box {
  @apply grid col-span-4 place-items-center place-content-center gap-2;
  background: hsl(var(--bg-white));
  padding-block: .875rem;
  grid-template-columns: auto auto;
  color: hsl(var(--text-primary));
}

.ats-mv__sale-countdown-box:first-of-type {
  border-radius: .5rem 0 0 .5rem;
}

.ats-mv__sale-countdown-box:last-of-type {
  border-radius: 0 .5rem .5rem 0;
}

.ats-mv__sale-countdown-num {
  font-family: var(--font-en);
  font-size: 3rem;
  line-height: 1;
  /*48px*/
}

.ats-mv__sale-countdown-label {
  writing-mode: vertical-rl;
}


/* 搭乗期間 */
.ats-mv__boarding-period {
  @apply p-4;
  background: hsla(var(--bg-white)/.9);
  border-radius: 20px;
  color: hsl(var(--text-primary));
}

.ats-mv__boarding-period-title {
  @apply flex flex-col items-center gap-3 font-bold;
  padding-bottom: .625rem;
  border-bottom: 1px solid hsl(var(--bg-primary));
  font-size: 1.125rem;
}

.ats-mv__boarding-period-title dd {
  font-size: 1.25rem;
  font-family: var(--font-ja-alt);
  line-height: 1;
}

.ats-mv__boarding-period-date {
  font-size: 2rem;
}

.ats-mv__boarding-plan {
  @apply flex justify-between leading-none flex-col gap-2;
  padding: .75rem .625rem;
}

.ats-mv__boarding-section {
  @apply flex justify-center gap-2 py-2;
  border: 1px solid hsl(var(--bdr-normal));
}

.ats-mv__boarding-depart,
.ats-mv__boarding-arrive {
  @apply flex items-center gap-2;
}

.ats-mv__boarding-area {
  font-size: .8125rem;
}

.ats-mv__boarding-airport {
  @apply font-bold;
  font-size: 1.13125rem;
}

.ats-mv__boarding-price {
  @apply text-center;
}

.ats-mv__boarding-price-num {
  @apply font-bold;
  font-family: var(--font-en);
  font-weight: bold;
  font-size: 2.5rem;
}

.ats-mv__boarding-price-label {
  @apply font-bold;
}

/* md */
@media (min-width: theme(--breakpoint-md)) {

  .ats-mv__sale-countdown-num {
    font-size: 3.5rem;
  }

  .ats-mv__boarding-period {
    padding: 1.875rem;
  }

  .ats-mv__boarding-period-title {
    @apply flex-row gap-0;
  }

  .ats-mv__boarding-period-title dt::after {
    content: '：';
  }

  .ats-mv__boarding-period-title dd {
    font-size: 1rem;
    font-family: var(--font-ja);
    flex: 1;
  }

  .ats-mv__boarding-period-date {
    font-size: 1rem;
  }

  .ats-mv__boarding-plan {
    @apply flex-row items-end gap-0;
  }

  .ats-mv__boarding-section {
    @apply items-end border-none p-0;
  }
}

/* lg */
@media (min-width: theme(--breakpoint-lg)) {
  .ats-mv__container {
    @apply gap-x-16;
    max-width: 1000px;

  }

  .ats-mv__container-col {
    @apply col-span-6;
  }

}

/* xl */
@media (min-width: theme(--breakpoint-xl)) {
  .ats-mv__container {
    @apply px-0;
  }

}