.ats-overview {
  @apply py-10 text-white;
  --bg-start: 201 100 43;
  --bg-end: 212 100 42;
  background-image: linear-gradient(to bottom, hsl(var(--bg-start)), hsl(var(--bg-end)));

}

.ats-overview__grid {
  @apply grid;
  grid-template-columns: auto;
  column-gap: 2rem;
}

.ats-overview__h {
  font-size: 1.5rem;
  @apply font-bold text-center pb-7;
}

.ats-overview__linkarea {
  @apply text-center;
  grid-area: 3 / 1 / 4 / 2;
}

.ats-overview__points {
  @apply grid pb-8;
}

.ats-overview__points-item {
  @apply flex;
  gap: 1rem;
}

.ats-overview__points-item:not(:last-of-type) {
  margin-bottom: .875rem;
  padding-bottom: .875rem;
  border-bottom: 1px solid hsl(var(--bdr-light-blue));
}

.ats-overview__points-icon {
  @apply shrink-0 aspect-square;
  width: 56px;
  height: 56px;
}


.ats-overview__points-text-em {
  @apply font-bold not-italic;
  font-size: 1.5rem;
}

/* md */
@media (min-width: theme(--breakpoint-md)) {
  .ats-overview {
    @apply py-20;
  }

  .ats-overview__h {
    font-size: 1.875rem;
  }


  .ats-overview__points {
    @apply grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .ats-overview__points-item {
    @apply flex-col items-center;
    gap: 1.5rem;
  }

  .ats-overview__points-item:not(:last-of-type) {
    @apply mb-0 pb-0;
    border-right: 1px solid hsl(var(--bdr-light-blue));
    border-bottom: none;
  }

  .ats-overview__points-text {
    @apply text-center;
  }

  .ats-overview__points-text-em {
    @apply block;
  }

}

/* lg */
@media (min-width: theme(--breakpoint-lg)) {
  .ats-overview__grid {
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
  }

  .ats-overview__h {
    @apply text-start;
  }

  .ats-overview__linkarea {
    grid-area: 2 / 1 / 3 / 2;
  }

  .ats-overview__linkarea {
    @apply text-start;
  }

  .ats-overview__points {
    grid-area: 1 / 2 / 3 / 3;
  }

  .ats-overview__points-text {
    font-size: 1.125rem;
  }

  .ats-overview__points-text-em {

    font-size: 2.25rem;
  }


}